.fotos_footer {
  width: 8vh;
  height: 4vh;
  background-color: greenyellow;
}

footer {
  background-color: black;
  color: greenyellow;
}

@media (min-width: 300px) {
  .carousel {
    width: 40%;
    height: 40%;
  }
  h1 {
    margin: 0;
    background-color: black;
    color: greenyellow;
  }
  .carousel-img-2 {
    width: 20vh;
    height: 20vh;
  }
  .carousel-item {
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 25vh;
  }
  .carousel-inner {
    width: 50vh;
    margin-left: 30%;
  }
  h2 {
    background-color: black;
    color: greenyellow;
  }
  .logos-side {
    margin-top: 20vh;
    width: 10vh;
    height: 10vh;
  }
  .logos-index {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  .carousel {
    width: 40%;
    height: 40%;
  }
  h1 {
    margin: 0;
    background-color: black;
    color: greenyellow;
  }
  .carousel-img-2 {
    width: 20vh;
    height: 20vh;
  }
  .carousel-item {
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 25vh;
  }
  .carousel-inner {
    width: 50vh;
    margin-left: 30%;
  }
  .logos-side {
    margin-top: 20vh;
    width: 10vh;
    height: 10vh;
  }
  .logos-index {
    display: flex;
    justify-content: space-evenly;
  }
}
.navbar {
  width: 100%;
}

@media (min-width: 300px) {
  .card {
    margin-left: 20vh;
    width: 20vh;
    height: 36vh;
    margin-bottom: 20vh;
  }
  .card-order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200vh;
  }
  .grey-hoodie {
    width: 14vh;
    margin-left: 3vh;
  }
}
@media (min-width: 800px) {
  .card-order {
    height: 120vh;
  }
}
@media (min-width: 1200px) {
  .card-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 30vh;
    height: 40vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }
  .card-order {
    display: flex;
    justify-content: space-around;
    height: 130vh;
  }
  .grey-hoodie {
    width: 21vh;
    margin-left: 3vh;
  }
}
@media (min-width: 300px) {
  .yeezy-red-size {
    height: 45vh;
  }
  .img-adidas-rb {
    width: 16vh;
    margin-left: 2vh;
  }
  .red-yeezy-img {
    height: 20vh;
  }
}
@media (min-width: 500px) {
  .yeezy-red-size {
    height: 35.5vh;
  }
  .img-adidas-rb {
    width: 10vh;
    height: 30vh;
  }
  .black-jacket-card {
    height: 40vh;
  }
}
@media (min-width: 800px) {
  .yeezy-red-size {
    height: 35vh;
  }
}
@media (min-width: 1200px) {
  .yeezy-red-size {
    height: 43vh;
  }
  .img-adidas-rb {
    width: 25vh;
    height: 30vh;
  }
  .black-jacket-card {
    height: 52vh;
  }
}
@media (min-width: 300px) {
  .position-map {
    display: flex;
    justify-content: center;
    margin-bottom: 7.45vh;
  }
}
@media (min-width: 600px) {
  .position-map {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 6.5vh;
  }
  .formulario {
    margin-left: 24vh;
  }
  .email {
    margin-right: 3vh;
  }
}
@media (min-width: 800px) {
  .formulario {
    margin-left: 35vh;
  }
  .mapa {
    height: 60vh;
    width: 80vh;
  }
}
@media (min-width: 1200px) {
  .formulario {
    margin-left: 45vh;
  }
}
body {
  background-color: #4b4b4b;
}

/*# sourceMappingURL=estilos.css.map */
