@media  (min-width:300px){
.card{

    width: 20vh;
    height: 36vh;
    margin-bottom: 20vh;

}
.card-order{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 180vh;
}
.grey-hoodie{
    width: 14vh;
    margin-left: 3vh;
}
}

@media  (min-width:800px){
.card-order{
    height: 120vh;
}
}

@media  (min-width:1200px) {
.card-img-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 30vh;
    height: 40vh;
    margin-bottom: 10vh;
    margin-top: 5vh ;

}
.card-order{
    display: flex;
    justify-content: space-around;
    height: 130vh;
}
.grey-hoodie{
    width: 21vh;
    margin-left: 3vh;
}
}

@media (min-width:1600px){
    .card-order{
        height: 60vh;
    }
}