@media (min-width: 300px){
    .yeezy-red-size{
        height: 45vh;
    }
.img-adidas-rb{
    width: 16vh;
    margin-left: 2vh;
}
.red-yeezy-img{
    height: 20vh;
}
}
@media (min-width: 500px){
    .yeezy-red-size{
        height: 35.5vh;
    }
    .img-adidas-rb{
    width: 10vh;
    height: 30vh;
    }
    .black-jacket-card{
        height: 40vh;
    }
}
@media (min-width: 800px){
.yeezy-red-size{
    height: 35vh;
}
}
@media (min-width: 1200px){
.yeezy-red-size{
    height: 43vh;
}
.img-adidas-rb{
    width: 25vh;
    height: 30vh;
}
.black-jacket-card{
    height: 52vh;
}
}


